@import "tailwindcss";


*{
    box-sizing: border-box;
    font-family: poppins;
}

.hero{
    padding: 100px;
}

.maintext span{
    background: transparent;
    -webkit-text-stroke: 1px white;
}

.image {
    clip-path: inset(0 0 100px 0); /* Cuts 100px from the bottom */
}

@theme inline {
    --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  }
   
  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }