@import "tailwindcss";


*{
    box-sizing: border-box;
    font-family: poppins;
}

.hero{
    padding: 100px;
}

.maintext span{
    background: transparent;
    -webkit-text-stroke: 1px white;
}

.image {
    clip-path: inset(0 0 100px 0); /* Cuts 100px from the bottom */
}